/*----------Custom Icons----------*/
.cd-form .icon input{
  padding-left: 54px !important;
}
.cd-form [required].l-user {
  background: url("../img/id.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].l-pass {
  background: url("../../member/img/contrasenha.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}