/*----------Custom Icons----------*/
.cd-form .icon input{
  padding-left: 54px !important;
}
.cd-form [required].m-user {
  background: url("../img/id.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].m-pass {
  background: url("../img/contrasenha.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].m-name {
  background: url("../img/nombre.svg") no-repeat 16px center url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].m-documento {
  background: url("../img/documento_id.svg") no-repeat 16px center url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].m-direccion {
  background: url("../img/direccion.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].m-telefono {
  background: url("../img/telefono.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].m-email {
  background: url("../img/email.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}
.cd-form [required].m-balance {
  background: url("../img/dinero.svg") no-repeat 16px center, url("../img/ic_required.svg") no-repeat top right;
}
